apiVersion: apps/v1
kind: Deployment
metadata:
  name: heart-api
  namespace: test-aditya
spec:
  replicas: 1
  selector:
    matchLabels:
      app: heart-api
  template:
    metadata:
      labels:
        app: heart-api
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: heart-api
          image: aditya3298/mlops:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"